body {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    background-color: #f5e6e6;
}

.card {
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    margin: 20px 0 ;
}


.title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.body {
    font-size: 16px;
}