div {
    width: 100px;
    height: 100px;
    background-color: black;
    color: #fff;
    margin-bottom: 40px;
}

.active {
    display: none;
}

.bg-change {
    background-color: red;
    border-radius: 50%;
}