body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score-board h2 {
    text-align: center;
}

#timer{
    margin-bottom: 20px;
}

#container {
    border: 7px solid #e6e6e6;
    width: 400px;
    height: 200px;
    background-color: #f3f3f3;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

#container h3 {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 100%;
    text-align: center;
}

#btn {
    border: none;
    outline: none;
    color: #fff;
    background-color: #2424ce;
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
}


.d-none {
    display: none;
}

.d-block {
    display: block;
}















@-webkit-keyframes hvr-back-pulse {
    50% {
        background-color: rgba(32, 152, 209, 0.75);
    }
}

@keyframes hvr-back-pulse {
    50% {
        background-color: rgba(32, 152, 209, 0.75);
    }
}

.hvr-back-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvr-back-pulse:hover,
.hvr-back-pulse:focus,
.hvr-back-pulse:active {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: #2098D1;
    background-color: #2098d1;
    color: white;
}